<div class="mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
    <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
      <table class="min-w-full divide-gray-100">
        <thead>
            <!-- Renderizo todas las cabeceras de la tabla  -->
            <tr>
                @for (header of headers; track header) {
                    <th class="bg-gray-100 overflow-y-hidden py-4 text-gray-700 text-start px-5 uppercase text-xs font-semibold border-b-2 border-gray-200">
                        {{ header.label }}
                    </th>
                }
            </tr>
        </thead>
        <tbody class="bg-white divide-gray-100">
            <!-- Recorro todas las filas -->
            @for (row of data; track row) {
                <tr class="border-b border-gray-200">
                    <!-- Recorro el listado de cabeceras renderizar la clave -->
                    @for (header of headers; track header) {
                        <td class="py-4 text-gray-900 text-start px-5">
                            <!-- Si requiere una columna personalizada -->
                            @if (header.isSlot) {
                                <ng-container *ngIf="getSlot(header.key)" 
                                    [ngTemplateOutlet]="getSlot(header.key)" 
                                    [ngTemplateOutletContext]="{ $implicit: row }">
                                </ng-container>
                            }

                            <!-- si solo se renderiza la columna en texto -->
                            @else {
                                {{ row[header.key] }}
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Slots -->
  <!-- <ng-template #defaultSlot let-row>{{ row.value }}</ng-template> -->
  